#projects {
  background-color: $dark-background-color;
  color: $light-foreground-color;
  margin-top: 10rem;
  // padding-top: 15rem;


  @include respond(tab-land) {
    margin-top: 5rem;
    // padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
    @include respond(tab-land) {
      margin-bottom: 7rem;
    }
    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .grid-col {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 1rem;
      align-items: center;
      margin-bottom: 15rem;

      @include respond(phone) { 
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr); 
        gap: 0rem; 
        margin-bottom: 3rem;
      }

      &__text {
        
        
        grid-row: 1 / -1;
        z-index: 3;


        @include respond(phone) {
          margin-bottom: 2rem !important;

        }
        @include respond(tab-land) {
          margin-bottom: 2rem;
        }

        &-title {
          font-weight: bold;
          margin-bottom: 1rem;

          line-height: 1.7;
          font-size: 3rem;

          @include respond(phone) {
            border-radius: .1em .1em 0em 0em;
            background: $background-color;
            // background: rgba(255,255,255,50%);
            padding: 2.5rem;
            padding-bottom: 0.5rem;
            font-size: 2.5rem;
            margin-bottom: 0rem;
          }

          &::before {
            content: "Featured Project\A";
            white-space: pre;
            font-size: 1.7rem;
            font-weight: 400;
            color: $primary-color;
            font-family: 'Inconsolata', sans-serif;
          }
        }
        .main-info {
          transition: background ease 0.4s;
          background: $background-color;
          box-shadow: rgba(2, 12, 27, 1) 0px 0px 0px -7px;
          border-radius: 0.25em;
          padding: 2.5rem 2.5rem;
          color: $foreground-color;
          margin-bottom: 1rem;
          &:hover
          {
            transition: background ease 0.4s;
            background: lighten($background-color, 5%);
            @include respond(phone) {background: $background-color;}
          }

          @include respond(tab-port) { font-size: 1.5rem; }
          @include respond(phone) {
            padding-top: 0.5rem;
            margin-bottom: 0rem;
            border-radius: 0em 0em 0em 0em;
            background: $background-color;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
          }
        }

        .secondary-info {
          font-family: 'Inconsolata', sans-serif;
          font-size: 1.7rem;
          list-style: none;
          overflow: hidden;
          margin: 1.5rem 0rem;
          
          color: $dark-foreground-color;
          @include respond(tab-port) {
            margin: 1.5rem 0rem;
            border-radius: 0em 0em 0em 0em;
          }
          @include respond(phone) {
            margin: 0rem;
            padding: 0rem 2.5rem;
            border-radius: 0em 0em 0em 0em;
            background: $background-color;
          }
        }

        & p > a {
          color: $primary-color;
        }

        .logoSection
        {
          
          @include respond(phone) {
            border-radius: 0em 0em 0.25em 0.25em;
            padding: 2.5rem 2.3rem;
            background: $background-color;
          }
        }
        .logo{
          fill: $foreground-color;

          transition: fill ease 0.4s;
          &:hover{ fill: $primary-color;}
          &::after{transition: fill ease 0.4s;}
          &-left {padding-right: 1rem;}
          &-right {padding-left: 1rem;}
        }
        &-left
        {
          ul{
            padding-right: 10rem;
            padding-left: 0rem;
            @include respond(tab-port) {padding-right: 7rem;}
            @include respond(phone) {padding-right: 7rem;}
          }
          li {
            float: left;
            padding-right: 2.5rem;
          }
          text-align: left;
          grid-column: 1 / 7;
          @include respond(phone){ grid-column: 1 / -1;}
        }
        &-right
        {
          ul{
            padding-right: 0rem;
            padding-left: 10rem;
            @include respond(tab-port) {padding-left: 7rem;}
            @include respond(phone) {padding-right: 7rem;}
          }
          li {
            float: right;
            padding-left: 2.5rem;
          }
          text-align: right;
          grid-column: 7 / -1;
          @include respond(phone){ grid-column: 1 / -1;}
        }

        
      }

      &__image {
        width: 100%;
        @include respond(phone) {visibility: hidden;}
        &-left
        {
          .projImage {
            border-radius: .25em; 
          }
          grid-column: 1 / 8;
          @include respond(phone){ grid-column: 1 / -1; width:100%; height: 100%;}
        }
        &-right
        {
          .projImage {
            border-radius: 0.25em;
          }
          grid-column: 6 / -1;
          @include respond(phone){ grid-column: 1 / -1; width:100%; height: 100%;}
        }

        grid-row: 1/ -1;
        



        

        // & .thumbnail {
        //   border: none;
        //   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        //   transition: all 0.2s ease-out;
        //   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        //   transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
        //     0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        //   @include respond(phone) {
        //     border: 1px solid #d2d2d2;
        //     box-shadow: none;
        //     margin-bottom: 3.2rem;
        //   }
        // }
      }


    }
  }
}
